@font-face {
  font-family: 'Open Sans';
  src: url('../font/Open_Sans/static/OpenSans/OpenSans-Light.ttf');
  font-family: 'Raleway';
  src: url('../font/Raleway/static/Raleway-Bold.ttf');
  font-family: 'Nunito Sans';
  src: url('../font/Nunito_Sans/NunitoSans-Regular.ttf');
}

body {
  background: #797c7e;
  margin-top: 0px;
  margin-bottom: 0px;
}
#div-body {
  background: rgb(255, 255, 255);
  margin: 0 auto;
  padding: 10px 60px 5px 10px;
}
h1,
h2,
h3 {
  color: #094981;
  font-size: 18px;
  
}
h1{
  font-family: 'Open Sans', sans-serif;
 font-weight: 600;
}
h2{
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  letter-spacing: 0.4px;
 
}
div {
  font-family: Arial;
  font-size: 14px;
  width: 690px;
  padding-right: 50px;
  word-spacing: 3px;
  margin-bottom: 18px;
  margin-top: 16px;
}
#div-font {
  border-top: 3px solid #e7ebee;
}

img {
  float: left;
  width: 30px;
  margin: 8px 12px 0px 5px;
}
label {
  width: 63px; /* Ширина */
  text-align: right; /* Выравниваем по правому краю */
  float: left; /* Выстраиваем элементы рядом */
  margin-right: 5px; /* Расстояние от текста до текстового поля */
  line-height: 20px; /* Выравниваем по высоте */
  color: #797c7e;
}
.name {
  font-size: 14px;
  padding-top: 4px;
  padding-bottom: 20px;
  border-top: 3px solid #e7ebee;
}
.p-name {
  font-size: 10px;
  color: #9ca5ac;
}
select {
  width: 164px;
  height: 20px;
}
.education {
  margin-bottom: 25px;
  border-top: 3px solid #e7ebee;
}
.education p {
  margin-left: 5px;
  margin-bottom: 0px;
}
.bottom {
  margin: 0px;
  font-size: 11px;
  font-weight: 700;
  padding-left: 70px;
  word-spacing: 2px;
  color: #6f787e;
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing:0.3px;

}
h3 {
  margin-bottom: 0px;
  font-size: 15px;

}
.h-school {
  margin-top: 40px;
  margin-bottom: 0px;
}
.div {
  margin-top: 10px;
  margin-bottom: 0px;
  border-top: 3px solid #e7ebee;
}
.p {
  padding-top: 0px;
  margin-left: 5px;
  margin-bottom: 0px;
}
.submit_fild {
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 18px;
}
.submit_fild input {
  padding: 2px 39px 2px 38px;
 
}
.submit_fild p {
  font-size: 10px;
  font-weight: 600;
  margin: 0cm;
  color: #b5b7b9;
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: 0.2px;
}
.submit_fild p a {
  text-decoration: none;
  color: #37496e;
}
