@font-face {
  font-family: "Open Sans";
  src: url("../font/Open_Sans/static/OpenSans/OpenSans-Light.ttf");
  font-family: "Nunito Sans";
  src: url("../font/Nunito_Sans/NunitoSans-Regular.ttf");
}
body {
  background: #797c7e;
  margin: 0px;
  padding: 0px;
}
h1,
h2,
h3 {
  color: #49678D;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  margin-left: 7px;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.div-body {
  background: rgb(255, 255, 255);
  margin: 0 auto;
  padding-top: .1px;
  padding-bottom: 13px;
  width: 745px;
  font-family: Arial;
  font-size: 13px;
}
.div-body div {
  border-top: 3px solid #e7ebee;
  margin-left: 7px;
  margin-right: 7px;
}
/*регистрация*/
h1{
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: -.2px;
  margin-top: 8px;
  margin-bottom: 14px;
}
/*картинка текст*/
img {
  float: left;
  width: 30px;
  margin: 8px 11px 0px 6px;
}
b{
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.5px;
  color: #000000;
}
.head-div p{
  padding-top: 13px;
  padding-right: 50px ;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.1px;
  font-family: 'Nunito Sans', sans-serif;
  line-height:15px;
  color: #5a5b5d;
}
/*имя*/
h2{
  font-size: 0.45cm;
  letter-spacing: 0px;
  font-family: Tahoma, sans-serif;
  font-weight: 900;
  padding-top: 22px;;
  padding-bottom: 16px;
}
label {
width: 63px; /* Ширина */
text-align: right; /* Выравниваем по правому краю */
float: left; /* Выстраиваем элементы рядом */
margin-right: 5px; /* Расстояние от текста до текстового поля */
line-height: 0px; /* Выравниваем по высоте */
color: #797c7e;
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: 13px;
margin-top: 25px;
}
input{
  width: 158px;
  margin-top: 16px;
}
.p-name {
  font-size: 11px;
  color: #9ca5ac;
}
/*образование*/
.h2{
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: .5px;
  margin-top: 25px;
}
select {
  width: 164px;
  height: 20px;
}

.bottom {
  font-size: 10px;
  font-weight: 900;
  padding-left: 75px;
  color: #56505c;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.education label{
  margin-top: 21px;
  margin-left: 8px;
  font-weight: 500;
  color: #868181;
}
select{
  width: 160px;
  margin-top: 14px;
  font-weight: 700;
  letter-spacing: -.5px;
}
/*Школа*/
.h3-school {
  font-size: 15px;
  margin-top: 40px;
  margin-bottom: 10px;
}
.school label {
  margin-top: 20px;
  margin-left: 5px;
}
.school select {
  margin-top: 9px;
  width: 163px;
  font-size: 13px;
}
/*университет*/
.h3-university {
  font-size: 15px;
  margin-top: 12px;
  margin-bottom: 12px;
}
.university label{
  margin-top: 20px;
  margin-left: 6px;
}
.university select{
  margin-top: 10px;
  width: 163px;
  font-size: 13px;
}

/*footer*/
.submit_fild {
  margin-left: 38px;
}
.submit_fild input {
  width: 205px;
  margin-top: 27px;
 font-weight: 600;
 color: #555151;
 letter-spacing: -.8px;
 padding-left: 0px;
 }
.submit_fild p {
  font-size: 10px;
  font-weight: 600;
  margin: 0cm;
  color: #b5b7b9;
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: 0.4px;
}
.submit_fild p a {
  text-decoration: none;
  color: #606e88;
}
